<ion-view title="Solo" id="page2">
  <ion-content padding="true" class="has-header">
     {{messages}}

    <ul id="messages">
      <li ng-repeat="message in messages">
        {{massage}}
        <button></button>
      </li>
    </ul

  <ion-list ng-repeat="message in messages">
  <ion-item >
    <!-- <ion-thumbnail item-left>
      <img src="img/thumbnail-totoro.png">
    </ion-thumbnail> -->
    <h2>{{name}}</h2>
    <p>{{message}}</p>
    <button ion-button clear item-right>View</button>
  </ion-item>
</ion-list>

    <form ng-submit="sendMessage()">
      <input class="input"type="text" data-ng-model="$parent.newMessage" placeholder="Type input here">
      <button class="ion-button color="dark" clear">Submit</button>
    </form>
    <!-- <form id="solo-form9" class="list">
      <ion-item class="item-thumbnail-left dark" id="solo-list-item4">
        <img src="img/GLICyy45RBmULRI1CiCT_robot.jpg">
        <h2dark></h2dark>
      </ion-item>
      <div class="spacer" style="width: 300px; height: 343px;"></div>
      <label class="item item-input item-stacked-label" id="solo-input1" name="Solo input">
        <input type="text" placeholder="Type Message Here">
      </label>
    </form> -->
  </ion-content>
</ion-view>
